/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos Globais */
body {
  font-family: 'Roboto', sans-serif;
}

/* Adicione estilos específicos de página conforme necessário */
.page-container {
  max-width: 1200px;
  margin: 0 auto;
}
